<%- include('../partials/header')%>
      <main>
        <form action="/tag" method="get">
        <div class="wrapper">
          <div class="main-div">
          <h2 class="big-title">Trope<span class="blue">Finder</span>, <br><span class="italic medium-font">the trope way to find a book</span></h2>
          <div class="slider">
            <div class="slider-text1">evil clown</div>
            <div class="slider-text2">enemies to lovers</div>
            <div class="slider-text3">the chosen one</div>
            <div class="slider-text4">unreliable narrator</div>
          </div>
          
          <div class="search-bar">
            <input type="search" class="search" name="search" id="search" placeholder="historical, plain jane, friends to lovers" />
            <button type="submit" class="button-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          
          </div>
        </div>
      </form>
      </main>
      <img src="/img/undraw_reading_time_re_phf7.svg" alt="background-img" class="bg-mobile">

    <section id="how" class="how hide">
      <div class="wrapper how-wrapper">
        <h2 class="medium-title bb-2">How it works</h2>
        <p class="how-text">
        Merriam-Webster gives a <a href="https://www.merriam-webster.com/dictionary/trope" target="_blank" rel="noopener noreferrer">definition</a>  of "trope" as a "common or overused theme or device". In fiction, a trope is a concept that <span class="bold">the audience will recognize and understand instantly.</span> 
        </p><p class="how-text">It can be a plot trick, a setup, a character trait, <span class="bold blue">you know it when you see it.</span> 
        </p><p class="how-text">Think: <span class="italic">"everyone has a secret"</span> in thrillers, <span class="italic">"the evil overlord"</span> in fantasy works, <span class="italic">"love triangle"</span> in romance. 
        </p><p class="how-text">All fictional stories in books, movies, TV series are <span class="bold">full of tropes!</span> 
        </p><p class="how-text">This website helps you find your next <span class="bold blue">book crush</span> through a trope you love (or love to hate)!  
        </p>
      </div>
    </section>
    <section id="random" class="latest hide">
      <div class="wrapper">
        <h2 class="medium-title">Random Tropes</h2>
          <!-- One Trope Block -->
           <% for (const book of books) {%>
            <% const oneTag = book.tag.filter((item) => filteredTropes.includes(item)); const arrRandom = Math.floor(Math.random() * oneTag.length); { %>
          <p class="trope-description">
            <span class="trope-name"><a href="/tags/<%=oneTag[arrRandom]%>"><%= oneTag[arrRandom] %>.</a></span></p>
            <% } %>
          <div class="random-container"> 
            <!-- one book -->
            <div class="random-book" id="book">
            <a href="/book/<%=book.book_id%>/<%=book.title%>"><img
                src="<%= book.img %>"
                class="latest-img thumbnail"
                alt="<%= book.title%>"
              /></a>
            <div class="random-block">
              <h3 class="book-title"><a href="/book/<%=book.book_id%>/<%=book.title%>"><%= book.title%></a></h3>
              <h3>By <span class="author-name"><a href="/author/<%= book.author%>"><%= book.author%></a></span></h3>
              <p class="desc">
                <%= book.summary%>
              </p>
              <a href="/book/<%=book.book_id%>/<%=book.title%>" class="more">Read more.</a>
            </div>
        </div>
      
        <% } %>
      </div>
    </section>
    <script>
      
// header animation
const header = document.querySelector(".header");

window.onscroll = () => {
  if (window.scrollY > 50) {
    header.classList.add("header-active");
  } else {
    header.classList.remove("header-active");
  }
};

// scroll full page animation
$(document).scroll(function () {
  howdiv = document.getElementById("how");
  randomdiv = document.getElementById("random");
  const myScrollFunc = function () {
    const y = window.scrollY;
    if (y >= 700) {
      howdiv.className = "how show";
    }
    if (y >= 1400) {
      randomdiv.className = "latest show";
    }
  };
  window.addEventListener("scroll", myScrollFunc);
});

$(document).ready(function () {
  $("button").click(function () {
    $(".content").slideUp(500).delay(5000).slideDown(500);
  });
});

// autocomplete form


  $( function() {
    const availableTags =["angsty","angst","mob","gritty","human trafficking","mafia","secrets","captivity","kidnapping","childhood friends","revenge","second chance","virgin","guilty pleasure","tortured hero","marriage of convenience","friends to lovers","steamy","enemies to lovers","fluff","funny","gambling","ghosts","small town","drama","england","mental health","brothers best friend","book boyfriend","hea","abuse","cute","single mom","single dad","single parent","prenant","biker","veterans","bad boy","baseball","sports","detective","law enforcement","high school","family","marriage in trouble","made me cry","tear jerker","inheritance","religion","disability","queer","actor","actress","famous","celebrity","mental illness","slow burn","boss employee","age gap","broken hero","tiktok","all the feels","insta love","death","rivals to lovers","heart wrenching","adventure","action adventure","spicy","no hea","married","shapeshifters","shifters","vampires","smut","demons","urban","gods","hidden identity","geek","holidays","scarred","christmas","forced marriage","arranged marriage","shotgun marriage","clean read","clean romance","strong heroine","alpha male","military","forbidden","forbidden romance","taboo","aliens","monsters","sweet hero","sweet heroine","scarred hero","scarred heroine","political intrigue","classics","magic","dragons","witches","british","teacher student","student teacher","musicians","musician","dual pov","older man younger woman","dark romance","emotional","billionaire","anti hero","crime","male pov","rom com","beach","realistic fiction","humor","nerd","dom sub","bdsm","clean regency","realistic","second chances","cruel hero","opposites attract","ireland","humorous","love triangle","fluffy","insta lust","abused heroine","hate to love","love hate","chick lit","books to movies","movies","thriller","murder","man whore","fake relationship","fake marriage","myth","erotica","erotic","book club","teen","coming of age","fated mates","journalist","librarian","cover love","police","chef","cooking","horror","badass heroine","kickass heroine","paranormal","office romance","workplace romance","older heroine younger hero","older woman younger man","older hero younger heroine","family drama","social issues","older heroine","rock star","hot","cliffhanger","laugh out loud","lol","grumpy hero","widow","widower","gay","small town romance","instalove","possessive hero","neighbors","roommates","stalker","animals","sexy","age difference","forced proximity","lawyer","firefighter","baby","kids","abandonment","found family","cheating","cheater","celibate hero","sassy heroine","sexual tension","duke","asian","asian literature","cheesy","multiple pov","swoon","unrequited love","athletes","space","dirty talk","sapphic","gothic","dark academia","ménage","assassin","rakes","hilarious","brain candy","pets","dogs","futuristic","dystopia","holiday","artists","apocalyptic","magical realism","sports romance","made me laugh","virgin heroine","virgin hero","school","mystery","speculative fiction","fairy tale","retelling","fairytale retelling","unreliable narrator","may december","kidnapped","comedy","hawaii","fantasy","romance","contemporary romance","regency romance","hero in pursuit","motorcycle club","suspense","action","fbi","serial killers","hopeless romantic","bully","bully romance","cowboys","diversity","diverse read","misunderstanding","infidelity","jerk hero","plain jane","medieval","betrayal","adultery","hero grovels","groveling hero","bodice ripper","espionage","historical","fae","fairies","faerie","swordsman","knight","artist","debut","standalone","series","college","hockey","scotland","food","sweet","chefs","angels","highlanders","porn star","time travel","valkyrie","foodie","latinx","authors of color","lgbt","grimdark","grumpy sunshine","travel","bluestocking heroine","noble","road trip","historians","forbidden love","male protagonist","pregnancy","science fiction","secret","apocalypse","black authors","heartwarming","mystery suspense","modern fiction","after the wedding","interracial","elves","indie","bodice rippers","children","mc on the run","office","mail order bride","ex con","amnesia","mistaken identity","epic","sword and sorcery","thieves","spy","pirates","bondage","reverse harem","asexual","royals","football","high fantasy","epic fantasy","heroine in pursuit","modern romance","captive","arthurian","werewolves","werewolf","summer","winter","closet case","beta hero","organized crime","hitman","abduction","regency","tattoos","bodyguard","romantic","western","war","safe","secret identity","sword and laser","comics","urban fantasy","sad","marriage","lesbian","doctor","doctors","victorian","movie star","general fiction","contemporary fiction","young adult","class differences","vacation","royalty","bisexual","cowboy","shy heroine","shy hero","disabled","hot hot hot","booktok","France","paris","cute romance","juvenile","groveling","false identity","gender bender","cross dressing","crossdressing","tomboy","adult","comfort","london","grumpy and sunshine","rich","new adult","spinster","fake dating","grief","trauma","one night stand","frontier","space opera","amputee hero","photographer","jewish","romantic comedy","politician","california","ice skating","wallflower","in the closet","boarding school","succubus","low fantasy","survival","strong female lead","gangs","heiress","compromised","bastard","literature","family saga","feminist","feminism","outcast","ptsd","dark and twisted","trigger warning","highland","wild west","memoir","heist","action packed","satire","slife of life","pulp","supernatural","courtesan","alternate history","japan","djinn","psychics","georgian","civil war","epistolary","egypt","secret baby","beach read","trashy romance","teen fiction","nobel","spies","thief","class difference","kinky","ya fiction","ya contemporary","ya romance","shipwreck","music","clean","friends with benefits","fantasy romance","kink","hurt comfort","hollywood","graphic novels","manga","ice queen","shoujo","pregnant heroine","coming out","athlete","slavery","christian","fat","body positivity","body positive","body swap","wales","australia","new york","polyamory","fat rep","politics","manwhore","post apocalyptic","co workers","trans","bipoc","autism","literary fiction"];
    availableTags.sort();
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#search" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 1,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );
    </script>
<%- include('../partials/footer')%>