<%- include ('../partials/header') %>
<section class="signup write-review-div">
  <div class="container-books">
    <div class="wrapper">
      <a href="#" onclick="history.go(-1)" class="back">
        <span class="arrow-left"> <i class="fa-solid fa-arrow-left"></i></span
        >Back</a
      >
      <h2 class="medium-title">Edit your review</h2>
      <form
        action="/book/<%= book_id %>/<%= title%>/<%= review_id %>/edit-review"
        method="post"
        class="form-add-book"
      >
        <!-- add book -->
        <div>
          <div class="div-review">
            <div class="rating">
              <% if (reviews[0].stars === 5) { %>
              <label>
                <input type="radio" name="stars" value="1" checked />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%> <% if (reviews[0].stars === 4) { %>
              <label>
                <input type="radio" name="stars" value="1" checked />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%> <% if (reviews[0].stars === 3) { %>
              <label>
                <input type="radio" name="stars" value="1" checked />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%> <% if (reviews[0].stars === 2) { %>
              <label>
                <input type="radio" name="stars" value="1" checked />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" checked />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%> <% if (reviews[0].stars === 1) { %>
              <label>
                <input type="radio" name="stars" value="1" checked />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%> <% if (reviews[0].stars === 0) { %>
              <label>
                <input type="radio" name="stars" value="1" />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <%}%>
            </div>
            <textarea id="review" name="review"><%= reviews[0].review %></textarea>
          </div>
          <button type="submit" class="btn-signup">Edit your review</button>
        </div>
      </form>
    </div>
    <!-- /add-book -->
  </div>
</section>
<%- include ('../partials/footer') %>
